* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:hover {
    color: #F17AD4 !important;
}

body {
    background: linear-gradient(11deg, #F17AD4, #181818);
    background-repeat: no-repeat;
    background-size: contain;
    /* background: radial-gradient(#F17AD4, #181818); */
    /*background: radial-gradient(circle at top, rgb(198, 56, 56) 17vw, transparent 17.1vw)*/
}

.login {
    border: 1px solid #F17AD4 !important;
    /*color: white !important;*/
    padding: 10px 45px !important;
    border-radius: 40px !important;
}

.login:hover {
    color: #F17AD4 !important;
}

.signup {
    background-color: #F17AD4 !important;
    padding: 10px 40px !important;
    border-radius: 40px !important;
    color: black !important;
}

.cases {
    color: #F17AD4 !important;
}

.logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .semi-circle{
    background-color: #f196da;
    width: 45%;
    height: 8rem;
    margin: 0 auto;
   border-radius: 250px 250px 0 0;
   filter: blur(70px);
   box-shadow: 20px 20px  130px #f196da;
   position: absolute;
   left: 25%;
} */
/* .first-sec{
    position: relative;
    background-image: url("images/front\ img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
} */
.col1,
.col3 {
    color: white;
}

.Learnmore {
    padding: 13px 30px !important;
    border-radius: 40px !important;
    text-transform: uppercase;
    font-family: "Krona One" !important;
    font-size: 14px !important;
}

.pink,
.pinkpara {
    color: #F17AD4;
}

@font-face {
    font-family: Krona One;
    src: url(Krona_One/KronaOne-Regular.ttf);
}

h1 {
    font-family: "Krona One";
}

.bottom-img {
    width: 40%;
    height: 40%;
}

/* Media Queries */

@media screen and (max-width:768px) {
    .container {
        text-align: center !important;
    }

    .pinkpara {
        color: white !important;
    }

    .col3 {
        margin-top: 20px !important;
    }

    .row {
        margin-bottom: 15px !important;
    }

    .bottom-img {
        display: none;
    }
}